body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#header {
	color: aquamarine;
}


/*Float Property*/
#float-left{
	background-color: orange;
	height: 150px;
	width: 70px;	
	float: left;
}


/*Background CSS Properties*/
#background{
	margin-top: 100px;
	min-height: 100vh;
	background-image: url(https://c4.wallpaperflare.com/wallpaper/43/1003/707/anime-your-name-kimi-no-na-wa-mitsuha-miyamizu-wallpaper-preview.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

#bg-container{
	background-color:	rgba(0, 0, 0, 0.5);
	min-width: 100vh;
}

#bg-title {
	color: white;
	text-align: center;
	font-size: 60px;
	margin: 0;
	line-height: 35rem;
}


/*CSS Positioning*/

#parent-element {
	background-color: skyblue;
	padding: 50px 10px 0px 0px; /*Padding: top right bottom left*/
	height: 800px;
	position: relative;
}

#child-one {
	background-color: gray;
	padding: 10px;
}

#child-two {
	background-color: yellow;
	padding: 10px;
	position: sticky;
	top: 10px;
}

#child-three{
	background-color: gray;
	padding: 10px;
	position: absolute;
	left: 50%;

	top 
	left
	right
	bottom
}

html {
	height: 800vh;
}